// Site specific colors. Change these appropriately
$main_color: #172b4d; //darker grey;
$secondary_color_1: #545454; // dark grey
$secondary_color_2: #e1e1e1; // light grey
$secondary_color_3: #f0f0f0; // lighter grey
$secondary_color_4: #c8c8c8; // grey
$secondary_color_5: #ffffff; // white

//fonts
$font_header: "Nunito Sans";
$font_0: "Nunito Sans";
$font_1: "sans-serif";
$font_2: Verdana;
$font_3: Tahoma;
$font_4: FontAwesome;
