:root {
	/* darker grey; */
	--main-color: #172b4d;
	/* dark grey */
	--secondary-color-1: #545454;
	/* light grey */
	--secondary-color-2: #e1e1e1;
	/* lighter grey */
	--secondary-color-3: #f0f0f0;
	/* grey */
	--secondary-color-4: #c8c8c8;
	/* white */
	--secondary-color-5: #ffffff;
	--font-header: "Nunito Sans";
	--font-0: "Nunito Sans";
	--font-1: "sans-serif";
	--font-2: Verdana;
	--font-3: Tahoma;
	--font-4: FontAwesome;
}
